 @font-face {
  font-family: American Retro; /* Гарнитура шрифта */
  src: url(American_Retro.eot); /* Для IE5-8 */
  src: local(American_Retro), url(American_Retro.ttf); /* Для остальных браузеров */
 }

table {
  background-color: white  !important;
}

.container {
  background-color: white  !important;
}

.close ::before{
    content: 'X';
    visibility: visible;
    color: "black";
    font-weight: bold;
}

.sr-only::before{
    visibility: hidden;
}

.close{
    /*background-color: red; */
    visibility: hidden;
    position: absolute;
    right: 32px;
    top: 10px;
    width: 20px;
    height: 20px;
    background-color: rgb(247, 12, 12, 0.5);
}

.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .messageItem {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    display: block;
    transform: rotate(180deg);

    color:aliceblue;
    border-radius:20px;
    padding:10px 10px 10px 10px;
    margin:10px 0px 10px 10px;
}

.messageItemRecevier {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  display: block;
  transform: rotate(180deg);

  background-color:#dad6c3 ;
  color:black;
  border-radius:20px;
  padding:10px 10px 10px 10px;
  margin:10px 0px 10px 10px;
}

.avatar {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  display: block;
  transform: rotate(180deg);

  background-color:#77e78f ;
  color:black;
  border-radius:20px;
  padding:10px 10px 10px 10px;
}

.userBox{
  overflow-y:auto;
  height:90vh;
}

.messageBox{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.chat {
  height:70vh;
  overflow-y: scroll;
  transform: rotate(180deg);
  direction: rtl;
  background: url(949.jpg);
  background-attachment: fixed;
}

.messageDate {
  font-size:x-small;
}

.userCard {
  margin:10px;
  border-radius:20px;
  padding:10px 10px 10px 10px;
  font-size: 15px;
  background-color:#FFF4A8 !important;
}

.userCardChange {
  margin:10px;
  border-radius:20px;
  padding:10px 10px 10px 10px;
  font-size: 15px;
  background-color:#a2ebfd !important;
}
.messageTable{
  background-color: rgba(0, 0, 0, 0.0) !important;
  border-spacing: 0em 0em
}
.unread{
  position:relative;
  left: 200%;
  font-size: 20px;
  border-radius:20px;
  padding:10px 10px 10px 10px;
  background-color:lightsalmon !important;
}

.waiting{
  text-align: center;
}

.eye {
  padding:0px 0px 0px 5px;
  width: 30px;
  height: 30px;
}

.tableAsk{
  width: 100%;
}

.categoryColumn{
  width: 20%;
}

td.tdGreen{
  color:green;
  width: 5%;
}

td.tdRed{
  color:red;
  width: 5%;
}

.tdText{
  width: 50% !important;
}


.nav-link{
  font-size: 25px;
  font-family: American Retro;
  color:white !important;
}
.nav-link.generalLink{
  color:#a2ebfd   !important;
}
.nav-link:hover{
  color:yellow !important;
  font-weight:bold !important;
}

.active{
  color:yellow !important;
  font-weight:bold !important;
}


.xcircleQuest{
  position:absolute;
  right:0;
  width: 20px;
  height: 20px;
}