 @font-face {
  font-family: American Retro; /* Гарнитура шрифта */
  src: url(American_Retro.eot); /* Для IE5-8 */
  src: local(American_Retro), url(American_Retro.ttf); /* Для остальных браузеров */
 }

table {
  background-color: white  !important;
}

.container {
  background-color: white  !important;
}

.close ::before{
    content: 'X';
    visibility: visible;
    color: "black";
    font-weight: bold;
}

.sr-only::before{
    visibility: hidden;
}

.close{
    /*background-color: red; */
    visibility: hidden;
    position: absolute;
    right: 32px;
    top: 10px;
    width: 20px;
    height: 20px;
    background-color: rgb(247, 12, 12, 0.5);
}

.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .messageItem {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    display: block;
    transform: rotate(180deg);
    direction: ltr;

    background-color:rgb(116, 187, 248) !important;
    border-radius:20px 20px 20px 0px;
    padding:10px 10px 10px 10px;
    margin:10px 0px 10px 10px;
}

.messageItemRecevier {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  display: block;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
 direction: ltr;

  background-color:#dad6c3 ;
  color:black;
  border-radius:20px 20px 20px 0px;
  padding:10px 10px 10px 10px;
  margin:10px 0px 10px 10px;
}

.avatar {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  display: block;
  transform: rotate(180deg);

  background-color:#77e78f ;
  color:black;
  border-radius:20px;
  padding:10px 10px 10px 10px;
}

.userBox{
  overflow-y:auto;
  height:90vh;
}

.messageBox{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.chat {
  height:70vh;
  overflow-y: scroll;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  direction: rtl;
  background: url(949.jpg);
  background-attachment: fixed;
}

.messageDate {
  font-size:x-small;
}

.userCard {
  position: relative;
  margin:10px;
  border-radius:20px;
  padding:10px 10px 10px 10px;
  font-size: 15px;
  background-color:#FFF4A8 !important;
}

.userCardChange {
  position: relative;
  margin:10px;
  border-radius:20px;
  padding:10px 10px 10px 10px;
  font-size: 15px;
  background-color:#a2ebfd !important;
}
.messageTable{
  position: relative;
  background-color: rgba(0, 0, 0, 0.0) !important;
  border-spacing: 0em 0em
}
.unread{
  position: absolute;
  right:0;
  top:0;
  font-size: 30px;
  width: 40px;
  border-radius: 0px 20px 0px 20px;
  color:white;
  padding:0px 0px 0px 10px;
  font-family: American Retro;
  background-color:red !important;
}

.waiting{
  text-align: center;
}

.eye {
  padding:0px 0px 0px 5px;
  width: 30px;
  height: 30px;
}

.tableAsk{
  width: 100%;
}

.categoryColumn{
  width: 20%;
}

td.tdGreen{
  color:green;
  width: 5%;
}

td.tdRed{
  color:red;
  width: 5%;
}

.tdText{
  width: 50% !important;
}


.nav-link{
  font-size: 23px;
  font-family: American Retro;
  color:white !important;
}
.nav-link.generalLink{
  color:#a2ebfd   !important;
}
.nav-link:hover{
  color:yellow !important;
  font-weight:bold !important;
}

.activeLink{
  color:#FF6A00 !important;
  font-weight:bold !important;
}


.xcircleQuest{
  position:absolute;
  right:0;
  top: 0;
  width: 20px;
  height: 20px;
}

.parentAnswer > div {
  display: inline-block;
}

.answer{
  display: inline-block;
}

.countQuest{
  background: red;
  width:30px;
  padding-left: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
}

.blurry-text {
  color: transparent;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.tableAsk {
  table-layout:fixed;
}

.tableAsk td {
  word-wrap:break-word
}
.createAsk td:first-child {
  text-align: right;
}
.yellowtext {
  color: yellow;
  font-weight:bold;
}
.myNoti{
  color:white !important;
  padding-left: 0px !important;
}
.table-responsive{
  height:400px;  
  overflow:scroll;
  border-collapse: separate;
  border-bottom: 2px solid black;  
}
 thead tr:nth-child(1) th{
    border: 0px;
    background: white;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  th:after,
  th:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
  }
  th:before {
    top: 0;
  }
  th:after {
    bottom: 0;
    border-bottom: 1px solid black;
  }
  .container-priceask{
    /*  background-color: rgba(255, 255, 190, 0.432); */
  }
  .container-priceask-center{
    width: 70%; 
    margin: 0 auto; 
  }
  .border-price {
    border:1px solid rgb(0, 0, 0);
    border-radius: 20px 20px 20px 20px;
    margin-top: 5px;
    padding-top: 15px;
  }
  .total-sum{
    text-align:right;
    font-size:130%;
    margin: 0px 30px 10px 0px;
  }
  .boldtext{
    font-weight:bold;
  }
  .right{
    float: right;
  }
  .pointer{
    cursor: pointer
  }
  .foto{
    height: 200px;
    border-radius: 20px 20px 20px 20px;
  }

  .dnd-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    height: 200px;
  }
  .fotoContainer{
    position: relative;
    cursor: pointer
  }
  .delButton {
    position: absolute;
    right:0;
    top:0;
    font-size: 20px;
    width: 40px;
    border-radius: 0px 15px 0px 20px;
    color:white;
    padding:0px 0px 0px 10px;
    background-color:red !important;
    cursor: pointer
  }
  .parentSpec {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    background-color:white;
  }
  .childSpec {
    overflow-wrap: break-word;
    width: 20%;
    height: 20%;
    padding:10px 10px 10px 10px;
    box-sizing: border-box;
    position: relative;
  }
  .fotoSpec{
    display: block;
    border-radius: 20px 20px 20px 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .specName{
    font-size: 20px;
    color:#0d6efd;
    font-weight:bold;
  }
  .specPrice{
    font-size: 20px;
    font-weight:bold;
  }
  .specCloudy{
    font-size: 15px;
    color: #999999;
  }
  .fotoSpecCard{
    width: 100%;
    cursor: pointer;
  }
  .parentSpecMiniFoto {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    cursor: pointer
  }
  .childSpecMiniFoto {
    overflow-wrap: break-word;
    width: 20%;
    height: 20%;
    padding:10px 10px 10px 10px;
  }
  .miniFotoSpecCard{
    width: 100px;
  }
  .fotoSlider{
    display: flex;
    flex-direction: row;
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* цвет фона */
    z-index: 1050;
    -webkit-transition: opacity 200ms ease-in; 
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */    
    -moz-user-select: none;
    -khtml-user-select: none; 
    user-select: none;       
  }
  .leftNav{
    margin: auto;
  }
  .rightNav{
    margin: auto;
  }
  .cardSpecPrice{
    font-size: 50px;
    font-weight:bold;
    padding-left: 50px;
  }
  .specContact{
    margin: 20px;
    font-size: 25px;
    font-weight:bold;
  }
  .addSpecOffer{
    width: 50px; 
    height: 50px;
    color:black;
    margin: 10px 15px 5px 15px;
  }
  .addSpecOffer:hover{
    width: 50px; 
    height: 50px;
    color:red;
    margin: 10px 15px 5px 15px;
  }
  .createNewOfferText{
    font-size: 30px;
    font-family: American Retro;
  }
  .delSpecOfferContainer{
    height: 25px;
    text-align: right;
    margin: 5px 0px 5px 5px;
  }
  .delSpecOffer{
    width: 25px; 
    height: 25px;
    color:gray;
    display: inline-block;
  }
  .delSpecOffer:hover{
    width: 25px; 
    height: 25px;
    color:red;
    display: inline-block;
  }
  .changeSpecOffer{
    width: 20px; 
    height: 20px;
    color:green;
    display: inline-block;
  }
  .fotoSliderImg{
    max-width: 100vw;
    max-height: 100vh;
    object-fit: contain;
  }
  .section.card{
    margin: 5px 5px 5px 5px;
    border: 0px!important;
  }
  .sectionHeader.card-header{
    background-color: #282c34;
    height: 55px;
    text-decoration: underline;
    color: #EC4D3C;
    cursor: pointer; 
    position: relative;   
    border-radius: 20px 20px 20px 20px !important;                               
  }
  .sectionHeaderOffer.card-header{
    background-color: #FF6A00;
    height: 55px;
    text-decoration: underline;
    color: #EC4D3C;
    cursor: pointer; 
    position: relative;   
    border-radius: 20px 20px 20px 20px !important;                               
  }
  .sectionName{    
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    font-size: 25px;
    font-family: American Retro;     
    background-color:white;  
    width: 98%;     
    padding: 3px 3px 3px 10px;
    border-radius: 20px 20px 20px 20px;            
  }
  .caret{
    color: #282c34;
  }
  .parentSpecAsk {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    background-color:white;
  }
  .childSpecAsk {
    overflow-wrap: break-word;
    width: 25%;
    height: 25%;
    padding:10px 10px 10px 10px;
    box-sizing: border-box;
    position: relative;
  }
  .cardPadding{
    padding:10px;
  }
  .cardMenu{
    float:right;
  }
  .menuIcon{
    margin-left:5px;
    margin-left:5px;
    width: 25px; 
    height: 25px;
  }
  .addNew{
    width: 35px; 
    height: 35px;
    color:black;
    margin: 10px 15px 5px 15px;
  }
  .addNew:hover{
    width: 35px; 
    height: 35px;
    color:red;
    margin: 10px 15px 5px 15px;
  }
  .createNew{
    font-size: 25px;
    font-family: American Retro;
  }
  .searchForm{
    padding: 30px 120px 10px 120px;
  }
  .dropdown-menu-wrapper li {
    list-style-type: none;
  }
  .gifWaiting{
    max-width: 240px;
    max-height: 240px;
    display: block;
    margin-left: auto;
    margin-right: auto
  }
  .online{
    position: absolute;
    right:0;
    bottom:0;
    font-size: 10px;
    width: 25px;
    height: 25px;
    border-radius: 25px 25px 25px 25px;
    color:white;
    padding:0px 0px 0px 10px;
    font-family: American Retro;
    background-color:rgb(30, 255, 0) !important;
  }